In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

In [2]:
# tips dataset 
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
df['time'].value_counts()

Dinner    176
Lunch      67
Name: time, dtype: int64

# sob feature niye time ke predict korte hbe

In [4]:
df.isnull().sum()
# no missing value

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
df[df.duplicated()]

     total_bill  tip     sex smoker   day   time  size
202        13.0  2.0  Female    Yes  Thur  Lunch     2

In [8]:
# drop the duplicated value 
df.drop(202,inplace=True)

In [10]:
df.duplicated().sum()

0

## indep and depnt feature e alada kora

In [11]:
y = df['time']
X = df.drop('time',axis=1)

In [12]:
X

     total_bill   tip     sex smoker   day  size
0         16.99  1.01  Female     No   Sun     2
1         10.34  1.66    Male     No   Sun     3
2         21.01  3.50    Male     No   Sun     3
3         23.68  3.31    Male     No   Sun     2
4         24.59  3.61  Female     No   Sun     4
..          ...   ...     ...    ...   ...   ...
239       29.03  5.92    Male     No   Sat     3
240       27.18  2.00  Female    Yes   Sat     2
241       22.67  2.00    Male    Yes   Sat     2
242       17.82  1.75    Male     No   Sat     2
243       18.78  3.00  Female     No  Thur     2

[243 rows x 6 columns]

In [13]:
y

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 243, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [14]:
# encode the depnd feature 
from sklearn.preprocessing import LabelEncoder

In [16]:
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [21]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0])

In [24]:
X # indpendent feature

     total_bill   tip     sex smoker   day  size
0         16.99  1.01  Female     No   Sun     2
1         10.34  1.66    Male     No   Sun     3
2         21.01  3.50    Male     No   Sun     3
3         23.68  3.31    Male     No   Sun     2
4         24.59  3.61  Female     No   Sun     4
..          ...   ...     ...    ...   ...   ...
239       29.03  5.92    Male     No   Sat     3
240       27.18  2.00  Female    Yes   Sat     2
241       22.67  2.00    Male    Yes   Sat     2
242       17.82  1.75    Male     No   Sat     2
243       18.78  3.00  Female     No  Thur     2

[243 rows x 6 columns]

In [25]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0])

In [26]:
# train test spliy 
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [27]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 243
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  243 non-null    float64
 1   tip         243 non-null    float64
 2   sex         243 non-null    category
 3   smoker      243 non-null    category
 4   day         243 non-null    category
 5   size        243 non-null    int64
dtypes: category(3), float64(2), int64(1)
memory usage: 8.7 KB

In [28]:
# model train -> sob numerical featue lage 
# cat feat-> encoding korte hbe 
# automatically featuer engineernig hok

## pipeline-> automatic feature enginnering

In [34]:
# seperate numerical and categorical featue

X.head()
X.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'size'], dtype='object')

In [47]:
cat_feat =['sex', 'smoker', 'day']
num_feat =['total_bill', 'tip' , 'size']

In [48]:
num_feat

['total_bill', 'tip', 'size']

In [49]:
cat_feat

['sex', 'smoker', 'day']

In [50]:
# import some librarie 
from sklearn.pipeline import Pipeline  #pipeline create er jonno 

from sklearn.impute import SimpleImputer # missing value hadnle korey

from sklearn.preprocessing import StandardScaler # scaling down 

from sklearn.preprocessing import OneHotEncoder  # cat feat-> num feature tranfer

In [51]:
# numerical pipeline create

num_pipeline  = Pipeline(
                  steps=[('imputer', SimpleImputer(strategy='median')) , #missing value,
                         ('scaler',StandardScaler()) #scale down 
                        ]
                )

In [52]:
# categorical piupeline 

cat_pipeline = Pipeline(
                    steps=[('imputer',SimpleImputer(strategy='most_frequent')), #missing value
                           ('encoder',OneHotEncoder()) #encoding 
                          ]
                )

In [53]:
# merhger these two pipeline 
from sklearn.compose import ColumnTransformer

In [54]:
transformer = ColumnTransformer(
                  [('num_pipeline',num_pipeline,num_feat),
                   ('cat_pipeline', cat_pipeline,cat_feat)
                  ]
              )

In [55]:
# feature scaling all the data 
x_train_update = transformer.fit_transform(x_train)

x_test_update = transformer.transform(x_test)

# Model Trainng

In [63]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier

from sklearn.svm import SVC

from sklearn.metrics import accuracy_score , classification_report,confusion_matrix

In [57]:
models={
        'Random_forest':RandomForestClassifier(),
        'Logistic_reg' :LogisticRegression(),
        'Decision_tr'  :DecisionTreeClassifier(),
        'SVC'          :SVC()
}

In [58]:
models.keys()

dict_keys(['Random_forest', 'Logistic_reg', 'Decision_tr', 'SVC'])

In [59]:
models.values()

dict_values([RandomForestClassifier(), LogisticRegression(), DecisionTreeClassifier(), SVC()])

In [60]:
len(models)

4

In [70]:
def evluate_model(x_train_update,y_train,x_test_update,y_test , models):
    
    #all acuracy store korar jonno ekta dic baanbo 
    report = {}
    
    for i in range(len(models)):
        #model create kora 
        model = list(models.values())[i]
        
        #traine the model 
        model.fit(x_train_update,y_train)
        
        #predict teh data 
        y_test_pred = model.predict(x_test_update)
        
        #accuracy 
        test_model_score = accuracy_score(y_test,y_test_pred)
                   
        #store teh accuracy 
        report[list(models.keys())[i]] = test_model_score
        
    return report

In [71]:
# train the model and finding the accuracy 
evluate_model(x_train_update,y_train,x_test_update,y_test,models)

{'Random_forest': 0.9795918367346939,
 'Logistic_reg': 1.0,
 'Decision_tr': 0.9795918367346939,
 'SVC': 1.0}